include CHANGES.rst README.md LICENSE

recursive-include django_mobile_app_distribution/static *
recursive-include django_mobile_app_distribution/templates *
recursive-include django_mobile_app_distribution/locale *